%h1= @book.title
%h2= @book.subtitle
/ = "This book is in #{WhatLanguage.guess @book.text.first(120) }."
by
%h2= @book.author

.page
  .number
    1
    = link_to '', '#page1'
  = @book.text
:javascript
  $(function() {
    console.log('loaded');
  });

%ol.pagenav
  %li
    = link_to '1', '#page1'
  %li
    = link_to '2', '#page2'
  %li
    = link_to '3', '#page3'
  %li
    = link_to '4', '#page4'