%h1= @book.title
%h2= @book.subtitle
= "(#{@book.text.language})"
by
%h2= @book.author

.page
  .text= @book.text
  :javascript
    $(function() {
      splitPages();
    });

.hardcopy
  .pdf
    = link_to 'pdf', pdf_path

%ol.chapternav
  %li ch.
  %li.current