#head.page.title
  %h1= @book.title
  %h2= @book.subtitle
  // = "(#{@book.text.language})"
  by
  %h3= @book.author
  %h3.email{ :rel => '#email_to_author'} ✏
  #email_to_author{ :style => 'display:none;'}
    %input
    %textarea
  :javascript
    $('h3.email[rel]').overlay();
.shadow

.page
  .text= @book.text
  :javascript
    $(function() {
      splitPages();
    });

/ .add_more
/   = link_to '+', '#'

#tail.page.title
  %h2 The End
  %h3 ❦
  // ⊛
  // ∞
  // ∗
.shadow
  
#pullout
  .options
    .trigger
    .pdf= link_to 'pdf', pdf_path
    .edit= link_to 'edit', edit_path
    :javascript
      options = new Options();
      $('#pullout').click(options.click);
      $('#pullout .trigger').click(options.hide);
      
  %ol.chapternav
    %li ch.
    %li.current 1
    %li
      = link_to 'title', '#head'