#head.page.title
  %h1= @book.title
  %h2= @book.subtitle
  // = "(#{@book.text.language})"
  by
  %h3= @book.author
  %h3{ :onclick => 'alert("email");' } ✏
.shadow

.page
  .text= @book.text
  :javascript
    $(function() {
      splitPages();
    });

.add_more
  = link_to '+', '#'

#tail.page.title
  %h2 The End
  %h3 ❦
  // ⊛
  // ∞
  // ∗
.shadow
  
#pullout
  .options
    .trigger
    .pdf= link_to 'PDF', pdf_path
    :javascript
      optionsHidden = true;
      $('#pullout').click(function() {
        if (optionsHidden) {
          $('#pullout').animate({left:'-=100'}, 100, 'easeOutQuad');
        } else {
          // TODO wait some time
          $('#pullout').animate({left:'+=100'}, 100, 'easeOutQuad');
        }
    
        optionsHidden = !optionsHidden
      });

  %ol.chapternav
    %li ch.
    %li.current 1
    %li
      = link_to 'title', '#head'