.page.title
  %h1= @book.title
  %h2= @book.subtitle
  // = "(#{@book.text.language})"
  by
  %h3= @book.author
  %h3{ :onclick => 'alert("email");' } ✏

.page
  .text= @book.text
  :javascript
    $(function() {
      splitPages();
    });

.page.title
  %h2 The End
  %h3 ❦
  // ⊛
  // ∞
  // ∗
  
.hardcopy
  .pdf
    = link_to 'download', pdf_path

%ol.chapternav
  %li ch.
  %li.current 1