#head.page.title
  %h1= @book.title
  %h2= @book.subtitle
  // = "(#{@book.text.language})"
  by
  %h3= @book.author
  %h3{ :onclick => 'alert("email");' } ✏
.shadow

.page
  .text= @book.text
  :javascript
    $(function() {
      splitPages();
    });

.add_more
  = link_to '+', '#'

#tail.page.title
  %h2 The End
  %h3 ❦
  // ⊛
  // ∞
  // ∗
.shadow
  
#pullout
  .options
    .trigger
    .pdf= link_to 'pdf', pdf_path
    .edit= link_to 'edit', edit_path
    :javascript
      var optionsHidden = true;
      var locked        = false;
      var pullOut       = $('#pullout');
      
      function show() {
        pullOut.animate({right:'+=100'}, 100, 'easeOutQuad');
      };
      function hide() {
        pullOut.animate({right:'-=100'}, 200, 'easeOutQuad'); optionsHidden = !optionsHidden; locked = false;
      };
      
      $('#pullout').click(function() {
        if (optionsHidden) {
          show();
          optionsHidden = !optionsHidden
        } else {
          // Umschreiben auf 2 Sekunden nach dem letzten Klick…
          //
          if (locked) { return; };
          locked = true;
          setTimeout(function() {
            hide();
          }, 2000);
        }
      });
      
      $('#pullout .trigger').click(function(){
        if (!optionsHidden) { hide(); return false; };
      });
      
  %ol.chapternav
    %li ch.
    %li.current 1
    %li
      = link_to 'title', '#head'