%h1= @book.title
%h2= @book.subtitle
/ = "This book is in #{WhatLanguage.guess @book.text.first(120) }."
by
%h2= @book.author

.page
  .text
    = @book.text
  :javascript
    $(function() {
      splitPages();
    });

.hardcopy
  .pdf
    PDF

%ol.chapternav
  %li ch.
  %li.current